openapi: 3.0.1
info:
  title: Intelligence Cloud API
  description: |-
    [Description goes here]
  version: v2
  termsOfService: http://swagger.io/terms/
  contact:
    email: abc@xyz.com
servers:
  - url: https://core-api.int.bhdev.kfddev.com
tags:
  - name: Organization Career Graph
    description: Everything about your organization career graph
paths:
  /api/v2/organizationcareergraph/jobarchitecture/{orgId}:
    get:
      tags:
        - Organization Career Graph
      summary: Get Job Architecture for org career graph
      description: Get OCG Job Architecture for org career graph
      operationId: GetOCGJobArchitectureV2
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/V2JobArchitectureDtoIndustryCareerGraphBaseResponseDto
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/V2JobArchitectureDtoIndustryCareerGraphBaseResponseDto
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/V2JobArchitectureDtoIndustryCareerGraphBaseResponseDto
components:
  schemas:
    HttpStatusCode:
      enum:
        - 100
        - 101
        - 102
        - 103
        - 200
        - 201
        - 202
        - 203
        - 204
        - 205
        - 206
        - 207
        - 208
        - 226
        - 300
        - 301
        - 302
        - 303
        - 304
        - 305
        - 306
        - 307
        - 308
        - 400
        - 401
        - 402
        - 403
        - 404
        - 405
        - 406
        - 407
        - 408
        - 409
        - 410
        - 411
        - 412
        - 413
        - 414
        - 415
        - 416
        - 417
        - 421
        - 422
        - 423
        - 424
        - 426
        - 428
        - 429
        - 431
        - 451
        - 500
        - 501
        - 502
        - 503
        - 504
        - 505
        - 506
        - 507
        - 508
        - 510
        - 511
      type: integer
      format: int32
    V2JAEdgeDto:
      type: object
      properties:
        id:
          type: string
          nullable: true
        source:
          type: string
          nullable: true
        target:
          type: string
          nullable: true
        managedBy:
          type: boolean
      additionalProperties: false
    V2JAMetadataDto:
      type: object
      properties:
        functions:
          type: array
          items:
            type: string
          nullable: true
        subFunctions:
          type: array
          items:
            type: string
          nullable: true
        levels:
          type: array
          items:
            type: string
          nullable: true
        grades:
          type: array
          items:
            type: string
          nullable: true
        gradeLabels:
          type: array
          items:
            type: string
          nullable: true
        vacantJobs:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
    V2JAVertexDto:
      type: object
      properties:
        id:
          type: string
          nullable: true
        jobCode:
          type: string
          nullable: true
        bicCode:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        function:
          type: string
          nullable: true
        subFunction:
          type: string
          nullable: true
        grade:
          type: string
          nullable: true
        gradeLabel:
          type: string
          nullable: true
        level:
          type: string
          nullable: true
        isIC2Executive:
          type: boolean
      additionalProperties: false
    V2JobArchitectureDto:
      type: object
      properties:
        organizationId:
          type: string
          nullable: true
        metadata:
          $ref: '#/components/schemas/V2JAMetadataDto'
        vertices:
          type: array
          items:
            $ref: '#/components/schemas/V2JAVertexDto'
          nullable: true
        edges:
          type: array
          items:
            $ref: '#/components/schemas/V2JAEdgeDto'
          nullable: true
      additionalProperties: false
    V2JobArchitectureDtoIndustryCareerGraphBaseResponseDto:
      type: object
      properties:
        successMessage:
          type: string
          nullable: true
        errorMessage:
          type: string
          nullable: true
        statusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        data:
          $ref: '#/components/schemas/V2JobArchitectureDto'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
security:
  - Bearer: []
